body{

}

/*Шапка*/

header{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    width: 1180px;
    height: 40px;
    left: 130px;
    top: 32px;
}

header .logo{

}

header .search{
    left: 32.97%;
    right: 32.97%;
    top: 27.5%;
    bottom: 10%;
}

header .button{
    width: 113px;
    height: 38px;
    left: 1067px;
    top: 2px;
}


/*футер*/
footer{
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
}

footer .logoF{
    width: 31px;
    height: 64px;
    left: 130px;
    top: 28px;
}
