body{
    font-family: 'Rubik', sans-serif;
    background: #FFFFFF;
    text-align:center;
    margin: 0;
}

.main{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
/*Шапка*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}
.block-text{
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    vertical-align: 10px;
    padding-left:11px;
    font-weight: bold;
}

.search{
    margin-top: 11px;
    margin-right: 50px;
}
.text{
    height: 25px;
    width: 320px;
    border: none;
    outline:none;
    border-bottom: 1px solid #333333;
    box-sizing: border-box;
}


.button-search{
    background-color: #FFFFFF;
    font-size: 16px;
    padding-left:32px;
    border: none;
    color: red;
    font-weight: bold;
}

.button-search:hover{
    cursor: pointer;
}


.button-auth{
    width: 113px;
    height: 38px;
    background-color: red;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 2px;
    font-weight: bold;
    border: none;
}

.button-auth:hover{
    background-color: #CC221B;
    cursor: pointer;
}


/*Тело*/
.tabs{
    margin: auto;
    margin-top: 44px;
    max-width: 331px;
}

.tabs__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabs__nav-btn{
    background-color: #FFFFFF;
    border: 2px solid white;
    outline:none;
    font-size: 28px;
    font-weight: bold;
}

.tabs__nav-btn.active{
    color: red;
    border-bottom: 2px solid red;
}
.tabs__nav-btn:hover{
    cursor: pointer;
}

/*Фильмы*/

.section-films{
    margin: auto;
    text-align: left;
}

.section__text{

    margin-bottom: 16px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.films-list{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    padding: 0px;
    list-style-type: none;
    horiz-align: center;
}
.li\.films-item{
    position: relative;
    margin: 5px;
    width: 280px;
    height: 434px;

}

.li\.films-list__text{
    margin-top: 16px;
    font-size: 20px;
}

.li\.films-list__description{
    color: #FFFFFF;
    line-height: 1.5;
    position: absolute;
    top: 0;
    font-size: 16px;
    width: 248px;
    height: 338px;
    padding: 16px;
    z-index: -1;
    border-radius: 8px;
}

.li\.films-item:hover img{
    opacity: 0.5;
    background:#C1F1E4;
    box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
    border-radius: 8px;
    cursor: pointer;
}

.li\.films-item:hover .li\.films-list__description{
    transition: .2s;
    z-index: 5;
    background: rgba(0,0,0,0.6);
    cursor: pointer;
}


/*Жанры*/
.genre__text{
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}
.genre-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    max-width: 1180px;
    padding: 0px;
}

.li\.genre-list{
    width: 280px;
    height: 208px;
    background-color: red;
    border-radius: 6px;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.li\.genre-list:hover{
    cursor: pointer;
}

.li\.genre-list__text{
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
}
.li\.genre-list__text__name{
    font-size: 20px;
    text-align: center;
    margin-top:32px;
    color: #FFFFFF;
}

#first{
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    opacity: 0.8;
}
#first:hover{
    opacity: 1;
}
#second{
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
    opacity: 0.8;
}
#second:hover{
    opacity: 1;
}
#third{
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
    opacity: 0.8;
}
#third:hover{
    opacity: 1;
}
#fourth{
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    opacity: 0.8
}
#fourth:hover{
    opacity: 1;
}
/*tv*/
.section-tv{
    margin-top: 32px;
    text-align: left;
    display: none;
}
.section-tv.active{
    display: block;
}
.tv-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    max-width: 1180px;
    width: 100%;

    border-radius: 8px;
}

.li\.tv-item{
    display: flex;
    height: 162px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
    background: #F2F2F2;
}


.li\.tv-item img{
    padding-left: 143px;
    padding-right: 143px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.li\.tv-item__text p{
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.description{
    margin-left: 16px;
}

.li\.tv-item__text__first{
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: red;
}

.wrapper{
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/*футер*/

.footer{
    margin-top: 56px;
    display: flex;
    width: 100%;
    height: 120px;
    background: #F2F2F2;
    text-align: left;
}

.footer img{
    padding-left: 143px;
    padding-right: 40px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.footer__text{
    margin-top: auto;
    margin-bottom: auto;
}

.footer__text p{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}


#htc-cs\.ru{
    margin-top: 7px;
    color: #1F4766;
    font-weight: bold;
}

/*Модальное окно */
.modal{
    display: none;
}

.modal.active{
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal .modal_content{
    background-color: #fefefe;
    margin: 12% auto;
    border: 1px solid #888;
    width: 304px;
    height: 394px;
    border-radius: 8px;
    z-index: 9999;
}
.entrance__text{
    margin-top: 36px;
    margin-bottom: 24px;
}
#remember{
    transform:scale(1.23);
    opacity:0.9;
    cursor:pointer;
    margin: 0;
}

.modal__text{
    margin-bottom: 24px;
    width: 232px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #333333;
    outline:none;
}
.checkbox_modal{
    text-align: left;
    margin-left: 36px;
}

.checkbox_modal label{
    margin-left: 8px;
}
.modal_auth{
    border-radius: 4px;
    background-color: #E5261E;;
    color: white;
    border: none;
    width: 113px;
    height: 38px;
    font-size: 16px;
    margin-top: 106px;
}
.modal_auth:hover{
    cursor: pointer;
    background-color: #CC221B;
}
